In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN

In [3]:
df = pd.read_csv('../csv/trimmed_dataset.csv')
df

,melodic/bittersweet/sentimental/romantic,spiritual/atmospheric/surreal/dense/mysterious,progressive/dense/epic,energetic/raw/rebellious/noisy/angry-warm/calm/natural/acoustic/pastoral,cold/dark/sad/atmospheric/anxious/mysterious/serious-quirky/happy
0,0.428571,0.000000,0.000000,-0.538462,-0.481481
1,0.714286,0.703704,0.428571,0.733333,-0.444444
2,0.619048,0.000000,0.000000,-0.087179,0.037037
3,0.904762,0.407407,0.428571,0.400000,0.111111
4,0.523810,0.481481,0.523810,0.000000,-0.555556
...,...,...,...,...,...
420,0.428571,0.925926,0.428571,0.733333,-0.555556
421,0.809524,0.555556,0.000000,-0.005128,-0.444444
422,0.619048,0.000000,0.000000,0.230769,0.074074
423,0.523810,0.629630,0.619048,-0.087179,-0.666667
424,0.714286,0.481481,0.619048,0.400000,-0.481481

In [60]:
from sklearn.preprocessing import StandardScaler
X = df.to_numpy()
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [102]:
dbscan = DBSCAN(eps=0.8, min_samples=3)
dbscan.fit(X)
labels = dbscan.labels_
labels

array([ 0,  1,  0,  2,  3,  5,  4,  0,  5,  6,  0,  0,  7,  3, 11, -1,  0,
        7,  3, 11,  2,  1, -1,  8, -1,  8,  7, -1,  5,  7,  0,  8,  5,  7,
        8,  7,  7,  7,  0,  9,  0,  1,  3,  3,  3,  3, -1, -1,  0,  0, -1,
        0,  3,  7,  7, -1,  3, -1,  3,  5,  5,  0, -1,  0,  1,  1,  2,  2,
       -1,  7,  7,  5,  8,  5,  7,  0, -1,  0,  7,  7,  4,  4,  6,  4,  7,
        6, -1,  8,  7,  0,  1, -1, 10,  0,  0,  0,  7, 11,  0,  3,  7, -1,
        7,  7,  0, -1,  7,  7,  0,  8,  5, -1, -1,  0,  4,  7,  7,  7, -1,
        1,  1,  0,  0,  7,  7, -1,  0,  7,  7,  3,  0,  5,  9,  9,  9,  8,
       11,  7,  7,  2,  7, -1,  5,  7,  0,  5,  0,  0,  7, -1,  7,  7,  7,
       -1,  0,  0,  0,  7, -1, -1, -1,  5, -1,  4,  3,  5,  7,  0,  7,  6,
        5, -1,  7,  7,  0, 12,  4,  3,  1,  8, -1,  8, -1,  5, 11,  5,  7,
       10,  9,  8, 10,  7,  5, 13,  5,  5,  5,  9,  8,  7,  5,  0, -1,  7,
        0,  0,  5,  7,  7,  0,  5,  7,  7,  0,  1, -1, -1,  0, -1,  7, -1,
        1,  5, -1,  7,  8,  1, -1,  5,  4, -1,  7,  5,  0, -1, -1,  5, 13,
       -1, -1,  7, -1,  0,  3,  5,  7,  0,  4,  5,  5,  3,  5,  7,  5, -1,
        5,  0, -1,  0,  7,  0,  0, -1,  0,  7,  7,  0,  5, -1,  8,  0,  0,
       11,  8,  7,  7,  7,  4,  0,  7,  5,  5,  5,  1, -1,  5,  1,  0, -1,
        8, -1,  7,  3, -1, -1,  5,  3,  7,  0,  7,  0, -1,  3,  1,  3,  7,
       -1,  5, 13,  7,  7,  0,  1,  0, -1,  5,  5,  0,  1,  5, -1,  4,  5,
        3, -1,  5,  8,  5,  6,  7,  0, -1, 10,  7,  0, 10, 11,  0,  7,  0,
        7,  0, -1,  7,  9,  5,  7,  3,  5,  7,  5,  3,  7, 12, -1,  4,  3,
        5,  0, -1,  0, -1,  5,  9,  3,  3,  3,  0,  0,  7,  1,  7,  0, -1,
        1, -1,  7,  7, -1,  7,  5, 10,  0,  3, -1,  9,  0,  1,  1, -1, -1,
        0,  8, 12, -1, -1, -1,  7,  4,  7,  7, -1,  7,  1,  7,  7,  5,  9,
        8,  0,  9,  0, 10,  9,  5, -1,  9, -1,  7,  7,  1,  7,  0,  3,  1],
      dtype=int64)

In [103]:
df['labels'] = dbscan.labels_

In [104]:
# Extracting album names from "named_df" (full_descriptor_dataset.csv) and labels from "df", then merging into one dataframe "merged_df"
named_df = pd.read_csv('../csv/full_descriptor_dataset.csv')
merged_df = pd.merge(df['labels'], named_df[['name']], left_index=True, right_index=True)

In [105]:
merged_df

     labels                                               name
0         0                                 Living in Darkness
1         1                         Souvenirs d'un autre monde
2         0  People Who Can Eat People Are the Luckiest Peo...
3         2                                            Funeral
4         3                                         Neon Bible
..      ...                                                ...
420       1                                    On Avery Island
421       7                                 Oh, Inverted World
422       0                           Songs From the Big Chair
423       3                                              Boxer
424       1                                     Just for a Day

[425 rows x 2 columns]

In [106]:
label_name_list = merged_df.groupby('labels')['name'].apply(list)
print(label_name_list)

labels
-1     [Bad Brains, Licensed to Ill, Check Your Head,...
 0     [Living in Darkness, People Who Can Eat People...
 1     [Souvenirs d'un autre monde, Surf's Up, Junkya...
 2     [Funeral, Pet Sounds, ConstruÃ§Ã£o, Perfect From...
 3     [Neon Bible, Relationship of Command, In the F...
 4     [Reflektor, Cartola, The Good Son, Let Love In...
 5     [The Suburbs, Favourite Worst Nightmare, Rubbe...
 6     [Humbug, Tender Prey, What Does Anything Mean?...
 7     [Tranquility Base Hotel + Casino, Music From B...
 8     [Paul's Boutique, Ill Communication, Let It Be...
 9     [FÃ´rÃ§a bruta, Blonde on Blonde, Blood on the T...
 10    [London Calling, Ompa til du dÃ¸r, In the Court...
 11    [The B-52's, Mask, My Aim Is True, Heaven Up H...
 12    [Zen Arcade, Is This Real?, The Dark Side of t...
 13                         [Red, Transa, The Raincoats]
Name: name, dtype: object

In [107]:
# Saving in .txt file
with open('../Outputs/0.8_dbscan_output.txt', 'w', encoding='utf-8') as file:
    for label, names in label_name_list.items():
        file.write(f"{label}: {', '.join(names)}\n")
        file.write(f"\n")

### Results

Terrible. Even though 0.8 was the best-performing epsilon value found.